.contact {
  background: $darkLight;
  padding: 64px 16px 88px;
  text-align: center;
  &__header {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 32px;
    @media (min-width: $desktop) {
      font-size: 48px;
line-height: 56px;
    }
  }
  &__description {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__links {
    text-align: center;
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-around;
      max-width: 580px;
      margin: 128px auto 0;
    }
  }
    &__mail {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    background: $blue;
    color: $white;
    border-radius: 64px;
    padding: 4px 24px;
    text-decoration: none;
  }
}

