.hero {
    text-align: center;
    padding: 64px 16px 64px 16px;
}

.hero__contact {
    font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 40px;
background: #4DA8FF;
color: #FFFFFF;
border-radius: 64px;
padding: 4px 24px 4px 24px;
text-decoration: none;
}

.hero__description {

}

.hero__header {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #234361;
}

.hero__hello {
    background: #1070CA;
border-radius: 16px;
padding: 16px 19px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
}

.hero__image {

}

.hero__paragraph {
    font-family: Nunito;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #425A70;
}

.hero__special {
 color: #1070CA;
}



