.projects {
  padding: 64px 16px 88px;
  &__header {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 32px;
  }
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 46px;
  }
}

.project {
  font-family: Roboto Mono;
  font-size: 13px;
  line-height: 24px;
  background: $greyConsole;
  color: $console;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  &__circle {
    position: relative;
    left: 12px;
    margin: 0 4px;
    background: $lightGrey;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &__content {

  }
  &__description {
    color: $lightConsole;
  }
  &__header {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;

  }
  &__label {
    position: relative;
    top: 24px;
    left: 16px;
    display: grid;
    grid-template-columns: 102px 1fr;
    column-gap: 4px;
  }
  &__link {
    font-size: 13px;
    line-height: 24px;
    color: $link;
  }
  &__title {
    color: $white;
  }

  &__window {
    height: 40px;
    background: $darkGrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px 16px 0 0;
  }
  &__ghLogo {
    height: 24px;
    width: 24px;
    position: relative;
    left: 16px;
    top: 24px;
  }
}
