.skills {
  background: $darkBlue;
  color: $white;
  padding: 74px 16px 88px;
  &__container {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 0;
    @media (min-width: $desktop) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.skills-section {
  margin-top: 64px;  
  @media (min-width: 1440px) {
    width: 380px;
  }
  &__emoji {
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    display: block;
    margin-bottom: 16px;
  }
  &__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    margin: 0 0 24px;
  }
}

.skills-list {
  color: $darkLight;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  width: 288px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  @media (min-width: $desktop) {
    width: 226px;
  }
  &__item {
    padding: 0 0 0 24px;
    margin: 0 0 16px;
    position: relative;
    &:before {
      width: 12px;
      height: 9px;
      position: absolute;
      content: "";
      left: 0;
      top: 7px;
      display: block;
      background: url("../assets/img/small-tick.svg");
      .skills-list--blue & {
        background: url("../assets/img/small-tick_green.svg");
      }
      .skills-list--dot & {
        background: $darkLight;
        width: 2px;
        height: 2px;
        left: 5px;
        top: 11px;
        border-radius: 50%;
      }
    }
  }
}
