$white: #ffffff;
$link: #14B5D0;
$text: #425A70;
$textDark: #234361;
$blue: #4DA8FF;
$darkBlue: #1070ca;
$darkLight: #DBEAF7;
$greyConsole: #212528;
$console: #808082;
$lightConsole: #A3A3A3;
$lightGrey: #464A4D;
$darkGrey: #1E1E1E;

$tablet: 768px;

$desktop: 960px;