@import "~normalize.css";

@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto+Mono&display=swap');

body {
  background: $main;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.reference {
  color: #4DA8FF;
}